body {
    margin: 0 0 100px 0;
    font-family: 'Roboto Slab', serif;
  } 
  header {
    margin: 0;
    padding: 5px 5px 5px 20px;
    background-color: #373F51;
    color: #A9BCD0;
    grid-area: header;
    border-bottom: 5px solid #DAA49A;
  }
  .grid-container {
    display: grid;
    width: 80vw;
    grid-gap: 30px;
    grid-template-areas: 
        "header header"
        "lefttop righttop"
        "leftmiddle rightmiddle"
        "leftbottom rightbottom";
  }
  .boxA {
    border: 1px solid black;
    box-shadow: 3px 3px 3px #D8DBE2;
    padding: 20px;
    margin-left: 50px;
    text-align: center;
    width: 60vh;
    grid-area: lefttop;
  }
  .boxB {
    border: 1px solid black;
    box-shadow: 3px 3px 3px #D8DBE2;
    padding: 20px;
    text-align: center;
    width: 60vh;
    grid-area: righttop;
  }
  .boxC {
    border: 1px solid black;
    box-shadow: 3px 3px 3px #D8DBE2;
    padding: 20px;
    margin-left: 50px;
    text-align: center;
    width: 60vh;
    grid-area: leftmiddle;
  }
  .boxD {
    border: 1px solid black;
    box-shadow: 3px 3px 3px #D8DBE2;
    padding: 20px;
    text-align: center;
    width: 60vh;
    grid-area: rightmiddle;
  }  
  .boxE {
    border: 1px solid black;
    box-shadow: 3px 3px 3px #D8DBE2;
    padding: 20px;
    margin-left: 50px;
    text-align: center;
    width: 60vh;
    grid-area: leftbottom;
  }
  button:hover {
    background-color: #A9BCD0;
  }
  input:focus {
    background-color: #D8DBE2;
  }
  #number1, #number2{
    width: 60px;
  }
  button {
    margin: 5px;
  }
  @media only screen and (max-width: 700px)  {
    .grid-container {
        grid-template-areas:
            "header"
            "header"
            "lefttop"
            "righttop"
            "leftmiddle"
            "rightmiddle"
            "leftbottom"
            "rightbottom";
    }
    }